<template lang="html">

  <section class="edit">
    <h1>EDIT {{ $route.params.id }}</h1>
    <div class="d-flex">
      <v-text-field class="mr-5" label="title" />
      <v-text-field label="artist" />
    </div>
    <div class="d-flex align-start">
      <div id="action-center" class="mr-3 d-flex flex-column">
        <v-combobox :items="Mkeys" label="key" dense outlined />
        <v-btn depressed class="rounded-sm" v-on:click="cleanSpacing()">CLEAN SPACING</v-btn>
        <v-btn depressed class="rounded-sm" v-on:click="markChords()">MARK CHORDS</v-btn>
        <br>
        <v-btn depressed class="rounded-sm save-btn" color="#004D40" >SAVE</v-btn>
      </div>
      <div class="flex-grow-1 mr-3">
        <tiptap-vuetify 
          :extensions="extensions" 
          :card-props="{ flat: true, color: '#fff2db' }"
          :editor-properties="editorProps"
          v-model="content"
          @init="onInit"
          placeholder="Write something..."
        />
      </div>
      <div style="width: 200px">
        <label>Chords</label>
        {{ chords }}
      </div>
    </div>
  </section>

</template>

<script lang="js">
  import { History, TiptapVuetify, Bold, Italic, HardBreak } from 'tiptap-vuetify'
  import Chords from '../../chords.json'

  export default  {
    name: 'edit',
    props: [],
    components: { TiptapVuetify },
    mounted () {
    },
    data () {
      return {
        extensions: [
          History,
          Bold,
          Italic,
          HardBreak
        ],
        Mkeys: [
          "A", "A#", "B", "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#"
        ],
        content: "",
        chords: [],
        progression: [],
        editorProps: {
          editable: true,
          autoFocus: true
        }
      }
    },
    methods: {
      onInit(e) {
        this.editor = e.editor
      },
      autoDetect () {

      },
      markChords() {
        var selection = this.getSelection()
        for(var i=0; i<selection.length; i++) {
          var char = selection.charAt(i)
          var chord = null
          if (selection.charAt(i+1) == '#' || selection.charAt(i+1) == 'b') {
            char += selection.charAt(i+1)
            i++
          } 

          if (Chords.base.indexOf(char) != -1) {
            chord = char
          }

          if (char == '/') {
            var b = selection.charAt(i+1)
            var add2 = false
            if (selection.charAt(i+2) == '#' || selection.charAt(i+2) == 'b') {
              b += selection.charAt(i+2)
              add2 = true
            }
            if (Chords.base.indexOf(b) != -1) {
              chord = "/" + b
              i += add2? 2:1
            } 
          }

          if (chord != null) {
            var ext = selection.substring(i+1, i+4)
            ext = ext.replace(/\s/g,'')
            if (Chords.ext.indexOf(ext) != -1) {
              chord += ext;
              i+=3
            } else {
              console.log(ext)
            }

            if (selection.charAt(i+1) == '/') {
              var bass = selection.charAt(i+2)
              if (Chords.base.indexOf(bass) != -1) {
                if (selection.charAt(i+3) == '#' || selection.charAt(i+3) == 'b') {
                  bass += selection.charAt(i+3)
                  i+=3
                } else {
                  i+=2
                }
                chord += "/" + bass
              }
            }

            if (this.chords.indexOf(chord) == -1) {
              this.chords.push(chord)
            }
          }
        }
      },
      getSelection () {
        const { selection, state } = this.editor
        const { from, to } = selection
        return state.doc.textBetween(from, to, ' ')
      },
      cleanSpacing() {
        this.content = this.content.replace(/<p>/g,"")
        this.content = this.content.replace(/<\/p>/g,"<br>")
      },
      stripHtml() {
        var tmp = document.createElement("div")
        tmp.innerHTML = this.content
        return tmp.textContent || tmp.innerText || ""
      },
      getKey() {
        
      }
    },
    computed: {

    },
    beforeDestroy () {
    }
}


</script>

<style scoped lang="scss">
#action-center {
  min-width: 200px;
}
.save-btn {
  color: #fff;
}
</style>
