<template lang="html">
  <section class="home">
    <search></search>

    <div class="d-flex justify-end">
      <router-link to="/edit/">
      <v-btn depressed color="#004D40"><v-icon slod="append" color="white">mdi-plus</v-icon></v-btn>
      </router-link>
    </div>

    <div class="d-flex">

      <v-card class="mx-auto p-3" outlined>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="headline mb-1">Awit Ng Pagsamba</v-list-item-title>
            <v-list-item-subtitle>Musikatha</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-card-actions class="justify-contents-end">
          <v-btn text>
            <router-link to="/edit/1">Edit</router-link>
          </v-btn>
        </v-card-actions>
      </v-card>

    </div>
  </section>
</template>
<script lang="js">
  import search from './search.vue'

  export default  {
    name: 'home',
    props: [],
    components: { 
      search
    },
    mounted () {

    },
    data () {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}


</script>

<style scoped lang="scss">
</style>
