<template lang="html">
  <v-container fluid>
    <v-form>
      <v-text-field placeholder="Search..." />
    </v-form>
  </v-container>
</template>

<script lang="js">
  export default  {
    name: 'search',
    props: [],
    mounted () {
    },
    data () {
      return {
        
      }
    },
    methods: {

    },
    computed: {

    }
}


</script>

<style scoped lang="scss">
</style>
