<template>
  <v-app>
    <div id="header">
      <div class="container">
        <h1><router-link to="/">Chords</router-link></h1>
      </div>
    </div>
    <div>
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
    <v-footer color="#41B883" app>
      <span class="white--text">&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
  }
</script>

<style lang="scss" src="./styles.scss"></style>